name: scanner

on:
    schedule:
        - cron: "0,15,30,45 * * * *"
    workflow_dispatch: {}

jobs:
    run:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Install
              run: npm install

            - name: Run scanner
              env:
                  GMAIL_USER: ${{ secrets.GMAIL_USER }}
                  GMAIL_APP_PASSWORD: ${{ secrets.GMAIL_APP_PASSWORD }}
                  MAIL_TO: ${{ secrets.MAIL_TO }}
                  LIMIT_SYMBOLS: "260"
                  MIN_QVOL: "90000000"
                  CONCURRENCY: "4"
                  MIN_PER_SIDE: "1"
              run: node scanner.js
